*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit, sans-serif;
}

.header{
    background-color: #070509;
}

.curved-bottom-border {
    /* border-radius: 0 0 60% 60% / 0 0 10px 10px;   */
}

.kPmQdI {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-4deg);
}
.dcmuQR {
    animation: 3s ease-in-out 0s infinite normal none running elgpeR;
}

.kFsaVr {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hA-DCBU {
    width: 240px;
    height: 94px;
    position: relative;
}
.irOLyg {
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    width: 200px;
}

.cPDASl {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: var(--colors-primary);
    color: whitesmoke;
}

.iMRWkH {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-4deg);
}
.dcmuQR {
    animation: 3s ease-in-out 0s infinite normal none running elgpeR;
}
.bOoZHl {
    background: none;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.eWNNFy {
    width: 100%;
    height: 20px;
    clip-path: url(#topConcaveCurve);
    background: rgb(118, 69, 217);
    transform: translate(0px, 1px);
}

.draw-time{
  
  
    border-radius: 0 0 60% 60% / 10px 10px 0 0;
    
    
      

}

.fzhbBC {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
}
.dnvNnz {
    color: var(--colors-text);
    font-size: 32px;
    font-weight: 600;
    line-height: 0.5;
}
.bjGjMn {
    color: var(--colors-text);
    font-weight: 600;
    line-height: 1.5;
    margin-right: 12px;
    font-size: 16px;
}
@media screen and (min-width: 852px){

    .cKxKsD {
        flex-direction: row;
    }
    .hrebpC {
        height: 200px;
    }
    .crcKOL {
        flex-direction: row;
    }
.hmRLKv {
    width: 756px;
}
.jfOEtx {
    padding: 24px;
}
.fUIjku {
    column-gap: 32px;
    grid-template-columns: auto 1fr;
}

.eUXiMW {
    justify-content: flex-start;
}

.dPXhXy {
    text-align: left;
}

.eUXiMW {
    justify-content: flex-start;
}

.fKGyJo {
    display: flex;
}

.bzSYHt {
   
    grid-template-columns: repeat(4, 1fr);
   
}
.cGuTaw {
    width: 756px;
}

.japUsq {
    gap: 36px 72px;
    grid-template-columns: auto 1fr;
}
.eTNKa-D {
    max-width: 100%;
}
.gLLGTO {
    margin-right: 32px;
}
}

@media screen and (min-width: 576px){
    .kDDkZL {
        margin-bottom: 0px;
    }
    .lgnKhQ {
        order: 2;
    }
    
    .ijibGU {
        order: 1;
    }

    .byQjax {
        order: 3;
        flex-direction: row;
    }
    .CiMFc {

        border-top-width: 0px;
        border-bottom-width: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
    .hHYKJf {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
    .ixIqxW {
        display: block;
    }
    .lknzTi {
        margin-bottom: 36px;
    }
    .fVqFBL {
        /* order: 1; */
        flex-direction: column;
    }
    .ktVsFq {
        display: none;
    }
    .dXOGaB {
        width: 1200px;
    }
    .hQrlTU {
        padding: 56px 40px 32px;
        margin-bottom: 0px;
    }
    .brTmkH {
        flex-direction: row;
    }
    .jcJNPD {
        width: 380px;
    }

    .cKxKsD {
        flex-direction: row;
    }
.inbaOV {
    padding-top: 32px;
    padding-bottom: 32px;
}
.cgLyGn {
    height: 100px;
}
.caYHdZ {

    margin-left: 16px;
    margin-right: 16px;
}
.dEfDpU {
    width: 330px;
}
.jRGJjW {
    flex-direction: row;
}

.kGfzRc {
    grid-template-columns: repeat(4, 1fr);
}
}

@media screen and (min-width: 370px){
    .hrebpC {
        height: 180px;
    }
.gVCLyc {
    padding-left: 24px;
    padding-right: 24px;
}
}
.lla-DkP {
    background:#383241;
    border-radius: 24px;
    color: #f4eeff;
    overflow: hidden;
    position: relative;
    padding: 1px 1px 3px;
}

.kmypTo {
    width: 100%;
    height: 100%;
    overflow: inherit;
    background: #27262c;
    border-radius: 24px;
}
.cdHhbk {
    color:#f4eeff ;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}
.bFIvaU {
    background: linear-gradient(166.77deg,#3b4155,#3a3045);
    border-radius: 24 24 0 0;
    padding: 16px 24px;
}
.crA-dYH {
    display: flex;
    justify-content: space-between;
}

.fUIjku {
    display: grid;
   
}


.kpVUuP {
    display: flex;
    flex-direction: column;
}
.kQaLVN {
    margin-bottom: 18px;
}

.dPXhXy {
    color: #9a6aff;
    font-weight: 600;
    font-size: 40px;
    
    line-height: 1;
}
.eUXiMW {
    display: flex;
    
}

.jftdDy {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}
.cEtsVl {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: #1fc7d4;
    color: #191326;
    max-width: 280px;
}

.llHBvF {
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
}

.ihOwtn {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
}
.coMNuR {
    color: #9a6aff;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}

.bzSYHt {
    display: grid;
   
    row-gap: 16px;
}

.bwObFJ {
    color: #f4eeff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
    font-size: 14px;
}
.csMRwl {
    width: 100%;
    flex-direction: column;
}
.UlmxL {
    display: flex;
}

.saTEA {
    background: #08060b;
    padding: 24px;
}

.gASXMQ {
    border-top: 1px solid #383241;
    padding: 0px;
}

.isbcDV {
    align-self: center;
    fill: #1fc7d4;
    color: #1fc7d4;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.cdFUCJ {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 0px 0px 24px;
    background-color: transparent;
    color: var(--colors-primary);
    box-shadow: none;
}

.iZegoY {
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 48px 0px;
}
.UlmxL {
    display: flex;
}

.gEjhCt {
    background: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
   
}

.inbaOV {
    min-height: auto;
    padding: 16px 8px;
}

.gVCLyc {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.cgLyGn {
    height: 60px;
}

.RrZFz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caYHdZ {
    margin-left: 4px;
    margin-right: 4px;
}

.cJgdAu {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: #1fc7d4;
    color: #191326;
    width: 190px;
}

/* .dDlrKd {
    color: rgb(244, 238, 255);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: center;
    font-size: 16px;
} */

.kssEfh {
    background: linear-gradient(rgb(67, 69, 117) 0%, rgb(102, 87, 141) 100%);
    position: relative;
    padding: 48px 0px;
}

.koPWqv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stEjy {
    width: 100%;
}

.fPEWwh {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 24px;
 
}

.dNlsKV {
    background-color: #372f47;
    border-radius: 16px;
    display: inline-flex;
    border: 1px solid #262130;
    width: auto;
}

.dNlsKV > button, .dNlsKV a {
    box-shadow: none;
}
.dNlsKV > button + button, .dNlsKV > a + a {
    margin-left: 2px;
}

.dNlsKV > button, .dNlsKV > a {
    flex: 1 1 auto;
}
.eDoPaP {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: #b8add2;
    color: #27262c;
}

.euMdmk {
    background-color: transparent;
    color: #b8add2;
}

.jRoMNF {
    z-index: 2;
    background: none;
    border-bottom: 1px #383241 solid;
}
.gljRmr {
    background: linear-gradient(166.77deg,#3b4155,#3a3045);
    border-radius: 24px 24px 0 0;
    padding: 24px;
}

.jrKqNj {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cDDWNX {
    display: flex;
    align-items: center;
}
.fGECuE {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 8px;
    font-size: 16px;
}
.bqOgDT {
    width: 70px !important;
    height: 100%;
    padding: 4px 16px;
}
.dSSTma {
    background-color: #372f47;
    border-radius: 16px;
    box-shadow: inset 0px 2px 2px -1px rgba(74,74,104,.1);
    color:  #f4eeff;
    display: block;
    font-size: 16px;
    height: 48px;
    outline: 0px;
    padding: 0px 16px;
    width: 100%;
    border: 1px solid #262130;
}

.hlxNNw {
    width: 32px;
}

.dqLfRb {
    padding: 2px;
    width: 32px;
}

.gHMLkK {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: transparent;
    color: #1fc7d4;
    box-shadow: none;
    margin-right: 4px;
}
.cvmRst {
    filter: none !important;
}

.cvmRst {
    align-self: center;
    fill: #f4eeff;
    color: #f4eeff;
    flex-shrink: 0;
}

.hlxNNw:disabled {
    background: none;
}

.gHMLkK:disabled, .gHMLkK.pancake-button--disabled {
    background-color: #3c3742;
    border-color: #3c3742;
    box-shadow: none;
    color: #666171;
    cursor: not-allowed;
}
.kAsAiY:disabled, .kAsAiY.pancake-button--disabled {
    background-color: #3c3742;
    border-color:  #3c3742;
    box-shadow: none;
    color: #666171;
    cursor: not-allowed;
}

.kAsAiY {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: transparent;
    color: #1fc7d4;
    box-shadow: none;
}

.HbIAU {
    margin-top: 8px;
}
.eHtPO {
    color: var(--colors-text);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}
.ezxPck {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fMXNeW {
    right: -30px;
   
}
.gTWvwp::before {
    right: 100%;
}
.gTWvwp::before {
    background-color: #a881fc;
    content: "";
    height: 100%;
    margin: 0px -1px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.gTWvwp::after {
    background-color: var(--colors-secondary);
    content: "";
    height: 100%;
    margin: 0px -1px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.gTWvwp {
    z-index: 9;
    background-color: #a881fc;
    color: white;
    margin: 0px;
    padding: 3px 0px;
    position: absolute;
    
    top: 0px;
   
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: left top;
    
}

.gTWvwp > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96px;
}

.japUsq {
    display: grid;
 /* grid-template-columns: auto; */
}

.eTNKa-D {
   
}
.krDXYq {
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
}
.hJHOMg {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.jTltkI {
    color: rgb(0, 0, 0);
    text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
    transform: rotate(17deg);
}
.hyleBr {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    font-size: 42px;
}

.edsFqz {
    color: rgb(0, 0, 0);
    text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
    transform: rotate(5deg);
}
.jTltju {
    color: rgb(0, 0, 0);
    text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
    transform: rotate(15deg);
}
.jTltkc {
    color: rgb(0, 0, 0);
    text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
    transform: rotate(24deg);
}
.jTltja {
    color: rgb(0, 0, 0);
    text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
    transform: rotate(-5deg);
}
.jTlthA {
    color: rgb(0, 0, 0);
    text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
    transform: rotate(28deg);
}

.hBCnkz {
    padding: 8px 24px;
}

.cdFUCJ {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 0px 0px 24px;
    background-color: transparent;
    color: #1fc7d4;
    box-shadow: none;
}
.jRGJjW {
    background: #08060b;
    padding: 24px;
   

}
.kAQaTn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jWCQXV {
    margin-right: 24px;
}
.eoFRpR {
    color: var(--colors-secondary);
    font-weight: 600;
    line-height: 1;
    font-size: 16px;
}
.ZByGv {
    color: var(--colors-textSubtle);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}
.cBaPJs {
    color: var(--colors-text);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    display: inline;
}
.cweaMh {
    width: 100%;
    flex-direction: column;
}
.bwObFJ {
    color: #f4eeff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
    font-size: 14px;
}
.kGfzRc {
    display: grid;
   
    row-gap: 16px;
}
.cyA-dLD {
    color: #ed4b9e;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}
.fiGUVp {
    background:#08060b;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.fuvBmK {
    width: 100%;
    height: 20px;
    clip-path: url("https://pamcakeswap.finance/lottery#topConvexCurve");
    background: rgb(102, 87, 141);
    transform: translate(0px, -1px);
}
.fuvBmK svg {
     display: block; 
}
.imLgex {
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 14px 0px 48px;
}
.stEjy {
    width: 100%;
}
.iOMoUD {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gtOpDA {
    margin-bottom: 40px;
}
.cCVVyO {
    color: #a881fc;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 24px;
   
}
.kqfMUH {
    color: #f4eeff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
}
.crcKOL {
    gap: 24px;
    width: 100%;
    
}
.kUxDyj {
    display: flex;
    align-self: baseline;
    position: relative;
    background: #383241;
    padding: 1px 1px 3px;
    border-radius: 24px;
}
.jKtlvm {
    width: 100%;
    padding: 24px;
    background: #27262c;
    border-radius: 24px;
}
.hrebpC {
    height: 200px;
}
.bzzfyD {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 12px;
    text-align: right;
}
.cQLeqO {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}
.gPyQTv {
    color: #a881fc;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
    
}
.gLWoSh {
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}
.bjvURC {
    background-color: #383241;
    height: 1px;
    margin: 40px 0px;
    width: 100%;
}
.cVfLPB {
    gap: 24px;
}
.jHRJOT {
    display: flex;
    flex: 2 1 0%;
    flex-direction: column;
}
.blTIGf {
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 16px;
}
.bEgPGI {
    list-style-type: none;
    margin-left: 8px;
    padding: 0px;
}
.bEgPGI li {
    margin: 0px;
    padding: 0px;
}
.bEgPGI li::before {
    content: "•";
    margin-right: 4px;
    color: #b8add2;
}
.bbITVP {
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    display: inline;
}
.fHFAMj {
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 16px;
    font-size: 16px;
}
.cxXDFA {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
}
.ibBYEc {
    height: 210px;
}
.csSoBB {
    height: 100%;
    flex-direction: column;
}
.cwvrEP {
    padding-left: 28px;
    align-items: center;
    width: 100%;
}
.kZSvBZ {
    color: #a881fc;
    font-weight: 600;
    margin-right: 20px;
    line-height: 72px;
    text-align: right;
    font-size: 16px;
}.cKxKsD {
    display: flex;
    /* flex-direction: column; */
}
.gcKFze {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}
.CDEnJ {
    display: inline;
}
.beZrrW {
    display: flex;
    font-weight: 600;
    align-items: center;
    width: fit-content;
}
.ecFtPB {
    color: #1fc7d4;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}
a {
    color: inherit;
    text-decoration: none !important;
} 
.faPbJc {
    height: auto;
}
.idAIFL {
    display: flex;
    justify-content: center;
}

.RYVCR {
    margin-bottom: 32px;
}
.hUrPdy {
    color:#a881fc;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 12px;
}
.eMohbu {
    color: var(--colors-secondary);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
}
.dFMSvE {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: max-content;
    row-gap: 4px;
}
.bEMVvk {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: rgb(255, 227, 98);
}
.jTGlde {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    font-size: 16px;
}
.jWNOWg {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: rgb(133, 197, 78);
}
.hXKgrD {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: rgb(2, 142, 117);
}
.hLBUvd {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: rgb(54, 232, 245);
}
.gOMpYH {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: rgb(168, 129, 252);
}
.gHCqcI {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: rgb(215, 80, 178);
}

.brTmkH {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cGjhWj {
    max-height: 172px;
    max-width: 240px;
    position: relative;
    width: 100%;
    margin-right: 8px;
    margin-bottom: 16px;
}
.kvyHOL {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.dexzlU {
    max-width: 300px;
}
.jYHdts {
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 16px;
}

.chSWPJ {
    background: #27262c;
}
.hQrlTU {
    position: relative;
    padding: 40px 16px;
    margin-bottom: 44px;
}
.iPXDOe {
    margin-bottom: 24px;
}
.fVqFBL {
    display: flex;
    /* order: 2; */
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.dHDhPQ {
    list-style: none;
    margin-bottom: 40px;
}
.gGRdUP:first-child {
    color: #a881fc;
    font-weight: 600;
    text-transform: uppercase;
}
.gGRdUP {
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.jEAUvx {
    display: flex;
    font-weight: 600;
    align-items: center;
    width: fit-content;
}
.jePpnP {
    border-bottom: 1px solid #383241;
}
.ckcQcK {
    display: flex;
    /* order: 2; */
}
.ecUGZN {
    color: #1fc7d4;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 24px;
    font-size: 16px;
}
.Eouil {
    align-self: center;
    fill: #b8add2;
    color: #b8add2;
    flex-shrink: 0;
}
.eJmRdU {
    position: relative;
}
.bbVAEF {
    align-self: center;
    fill: #b8add2;
    color: #b8add2;
    flex-shrink: 0;
    margin-right: 24px;
}
.kHqzYF {
    width: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 0px);
    left: 50%;
    bottom: 100%;
    background-color: #27262c;
    box-shadow: 0px 2px 12px -8px rgba(25,19,38,.1),0px 1px 1px rgba(25,19,38,.05);
    padding: 16px;
    max-height: 0px;
    overflow: hidden;
    z-index: 10;
    border-radius: 4px;
    opacity: 0;
    transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
    will-change: opacity;
    pointer-events: none;
}
.byQjax {
    display: flex;
    order: 1;
    /* flex-direction: column; */
    justify-content: space-between;
}
.CiMFc {
    border-color: #383241;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: none;
    padding: 24px 0px;
    margin-bottom: 24px;
}
.ijibGU {
    display: flex;
    /* order: 2; */
    align-items: center;
}
.epKJyD {
    align-items: center;
    background-color: var(--colors-textDisabled);
    border-radius: 24px;
    box-shadow: var(--shadows-inset);
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    position: relative;
    transition: background-color 200ms ease 0s;
    width: 56px;
}
.kffYgH {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.kffYgH:checked + .sc-grFOgM {
    left: calc(100% - 30px);
}
.iOdIYh {
    background-color: #27262c;
    border-radius: 50%;
    cursor: pointer;
    height: 26px;
    left: 3px;
    position: absolute;
    top: 3px;
    transition: left 200ms ease-in 0s;
    width: 26px;
    z-index: 1;
}
.dirPTH {
    height: 100%;
}
.kHFuOR {
    align-self: center;
    fill: #a881fc;
    color: #a881fc;
    flex-shrink: 0;
}
.hjmgda {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kbDjGw {
    width: 100%;
    height: 100%;
}
.knloOR {
    align-self: center;
    fill: #27262c;
    color: #27262c;
    flex-shrink: 0;
}
.ivQrRY {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: #1fc7d4;
    box-shadow: none;
}
.eHEBsq {
    align-self: center;
    fill: #b8add2;
    color: #b8add2;
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.ciVUqJ {
    width: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 0px);
    left: 100%;
    bottom: 100%;
    background-color: #27262c;
    box-shadow: 0px 2px 12px -8px rgba(25,19,38,.1),0px 1px 1px rgba(25,19,38,.05);
    padding: 16px;
    max-height: 0px;
    overflow: hidden;
    z-index: 10;
    border-radius: 4px;
    opacity: 0;
    transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
    will-change: opacity;
    pointer-events: none;
}
.iqlTcX {
    color: #f4eeff;
    padding: 0px 8px;
    border-radius: 8px;
}
.bxpYfJ {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: #1fc7d4;
    box-shadow: none;
}
.lgnKhQ {
    display: flex;
    order: 1;
    justify-content: space-between;
    align-items: center;
}
.dOjxNR {
    margin-right: 20px;
}
.gycPxl {
    display: flex;
    align-items: center;
}
.gycPxl svg {
    transition: transform 0.3s ease 0s;
}
.dLqbxT {
    align-self: center;
    fill: #f4eeff;
    color: #f4eeff;
    flex-shrink: 0;
    margin-right: 8px;
}
.bCkNA-D {
    color: var(--colors-textSubtle);
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}
.cwArxB {
    position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: #1fc7d4;
    color: #191326;
}
.dQOnlh {
    align-self: center;
    fill:#27262c;
    color: #27262c;
    flex-shrink: 0;
    margin-left: 0.5rem;
}


